<%= @sorted_stations.count %> Results
<% @sorted_stations.each do |station| %>
  <ul>
    <li>  <%= station.name %> </li>
    <li>  <%= station.street_address %> </li>
    <li>  <%= station.fuel_type %> </li>
    <li>  <%= station.distance %> </li>
    <li>  <%= station.access_days_time %> </li>
  </ul>
<% end %>
